<a href="https://colab.research.google.com/github/flu-s/Python25Study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
# 숫자형
# Number 타입 : 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.

a = 123
print(a)

123

In [97]:
# 실수형

a = 1.2
b = -3.45
c = 4.24E10
d = 4.24e-10

print(a)
print(b)
print(c)
print(d)

1.2
-3.45
42400000000.0
4.24e-10

In [98]:
# 8진수

a = 0x8ff
b = 0xABC

print(b)

2748

In [99]:
# 사칙연산

a = 3
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

In [100]:
# x의 y제곱을 나타내는 ** 연산자
# ** 연산자는 x ** y처럼 사용했을때 x의 y제곱 값을 반환한다.

a = 3
b = 4

print(a**b)

81

In [101]:
# 나눗셈 후 나머지를 반환하는 % 연산자
# 나눗셈의 나머지 값을 반환하는 연산자

7 % 3

3 % 7

3

In [102]:
# 나눗셈 후 몫을 반환하는 // 연산자

#나눗셈 후 몫을 반환하는 연산자를 사용했을 때
7//4

1

In [103]:
#복합 연산자

a =1
a = a +1
print(a)

b = 1
b -=1
print(b)

2
0

In [104]:
# 문자열
# 문자열에 작은 따옴표 포함하기

food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [105]:
# 문자열에 큰따옴표 포함하기

say = '"Python is very easy." he says.'
# 작은 따옴표 안에 사용된 큰 따옴표는 문자열을 만드는 기호로 인식되지 않음

In [106]:
# 역슬래시를 사용해서 작은 따옴표, 큰타옴표를 문자열에 포함하기

food = 'Python\'s favorite food is perl'
say = "\Python is very easy.\" he says."

<>:4: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
/tmp/ipython-input-2050608747.py:4: SyntaxWarning: invalid escape sequence '\P'
  say = "\Python is very easy.\" he says."

In [107]:
#여러 줄인 문자열을 변수에 대입하고 싶을 때
# Life is too short
# You need python

MULTILINE = " Life is too short\nYou need python"

In [108]:
# 문자열이 여러 줄인 경우 따옴표 3개를 사용하는 것이 훨씬 깔끔함
# 연속된 작은 따옴표 3개 사용하기

MULTILINE ='''
Life is too short
You need python
'''

print(MULTILINE)

# 연속된 큰따옴표 3개 사용하기


MULTILINE2 = """
Life is too short
You need python
"""

print(MULTILINE2)

Life is too short
You need python


Life is too short
You need python

In [109]:
# 이스케이프 코드란
# 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 '문자조합'
# 주로 출력물을 보기 좋게 정렬하는 용도로 사용한다

# \n = 문자열 안에서 줄을 바꿀 때 사용
# \t = 문자열 사이에 탭 간격을 줄 때 사용
# \\ = \를 그대로 표현할 때 사용
# \' = 작은 따옴표( ' )를 그대로 표현할 때 사용
# \" = 큰 따옴표( " )를 그대로 표현할 때 사용
# \r = 캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)
# \f = 폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
# \a = 벨소리(출력할 때 PC 스피커에서 '삑'소리가 난다)
# \b = 백 스페이스
# \000 = 널 문자

In [110]:
# 문자열 연산

head = "Python"
tail = "is fun!"
head + tail

'Pythonis fun!'

In [111]:
# 문자열 곱하기

a = "python"
a * 2

'pythonpython'

In [112]:
# 문자열 곱하기 응용

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [113]:
# 문자열 길이 구하기 len
# 문자열의 길이에는 공백 문자도 포함

a = "Life is too short"
len(a)

17

In [114]:
# 문자열 인덱싱
# 인덱싱 = 무엇인가를'가리킨다'라는 의미
# 문자열 안의 특정한 값을 뽑아내는 역할
#a[-1] = 문자열을 뒤에서부터 읽는다

a = "Life is too short, You need Python"
a[3]
a[12]
a[-1]

'n'

In [115]:
# 문자열 슬라이싱
# 슬라이싱 = 무엇인가를'잘라낸다'라는 의미

a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [116]:
a = "Life is too short, You need Python"
a[0:4]

b = "Life is too short, You need Python"
b[5:7]

c = "Life is too short, You need Python"
c[19:]

d = "Life is too short, You need Python"
d[:17]

e = "Life is too short, You need Python"
e[:]

f = "Life is too short, You need Python"
f[19:-7]

'You need'

In [117]:
# 슬라이싱으로 문자열 나누기

a = "20251030Rainy"
date = a[:8]
weather = a[8:]

date
weather

'Rainy'

In [118]:
a = "20251030Rainy"

year = a[:4]
day = a[4:8]
weather = a[8:]

In [119]:
# 문자열 수정

a = "Pithon"
a[:1] + 'y' + a[2:]

'Python'

In [120]:
# 문자열 포매팅
# 숫자 바로 대입

"I eat %d apples." %3

'I eat 3 apples.'

In [121]:
# 문자열 바로 대입
"I eat %s apples." %"five"

'I eat five apples.'

In [122]:
# 숫자 값을 나타내는 변수로 대입

number = 3

"I eat %d apples." %number

'I eat 3 apples.'

In [123]:
# 2개 이상의 값 넣기

number = 10
day = "three"

"I ate %d apples. so I was sick for %s days"%(number, day)

'I ate 10 apples. so I was sick for three days'

In [124]:
# 문자열 포맷 코드
# %s = 문자열 (String)
# %c = 문자 1개 (Character)
# %d = 정수 (Integer)
# %f = 부동소수(floating-point)
# %o = 8진수
# %x = 16진수
# %% = Literal % (문자%자체)

In [125]:
"I have  %s apples" %3

"rate is %s" %3.234

'rate is 3.234'

In [126]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다

"Error is%d%%" %98

'Error is98%'

In [127]:
# 포맷 코드와 숫자 함께 사용하기
# 정렬과 공백

"%10s" %"hi"

'        hi'

In [128]:
"%-10sjane." %'hi'

'hi        jane.'

In [129]:
# 소수점 표현하기
# ' . '은 소수점 포인트,  그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수

"%0.4f" %3.42134234

'3.4213'

In [130]:
# format 함수를 사용한 포매팅

"I eat {0} apples".format(3)

'I eat 3 apples'

In [131]:
# 문자열에 바로 대입하기

"I eat {0} apples".format("five")

'I eat five apples'

In [132]:
# 숫자 값을 가진 변수로 대입하기

number = 3

"I eat {0} apples".format(number)

'I eat 3 apples'

In [133]:
# 2개 이상의 값 넣기

number = 10
day = "three"

"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [134]:
# 이름으로 넣기

"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [135]:
# 인덱스와 이름 혼용

"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [136]:
# 왼쪽 정렬

"{0:<10}".format("hi")

'hi        '

In [137]:
# 오른쪽 정렬

"{0:>10}".format("hi")

'        hi'

In [138]:
# 가운데 정렬

"{0:^10}".format("hi")

'    hi    '

In [139]:
# 공백 채우기

"{0:=^10}".format("hi")
"{0:!^10}".format("hi")

'!!!!hi!!!!'

In [140]:
# 소수점 표현하기

y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [141]:
# { 또는 } 문자 표현하기

"{{and}}".format()

'{and}'

In [142]:
# f 문자열 포매팅
# f접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다

name = '홍길동'
age = 30

f'나의 이름은{name}입니다. 나이는 {age}입니다'

'나의 이름은홍길동입니다. 나이는 30입니다'

In [143]:
d = {'name' : '홍길동', 'age' : '30'}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다'

'나의 이름은 홍길동입니다. 나이는 30입니다'

In [144]:
# f문자열을 사용하여 금액에 콤마(,) 삽입하기

f"난 {1500000:,}원이 필요해"

'난 1,500,000원이 필요해'

In [145]:
# 문자 개수 세기 - count

a = "hobby"
a.count('b')

2

In [146]:
# 위치 알려주기 1 -find
# 문자나 문자열이 존재하지 않으면 -1을 반환함

a = "Python is the best choice"
a.find('b')

14

In [147]:
# 위치 알려주기 2 - index
# 문자나 문자열이 존재하지 않으면 오류 발생함

a = "Life is too short"
a.index('t')

8

In [148]:
# 문자열 삽입 - join

",".join('abcd')

'a,b,c,d'

In [149]:
# 소문자를 대문자로 바꾸기 - upper

a = "hi"
a.upper()

'HI'

In [150]:
# 대문자를 소문자로 바꾸기 - lower

a = "HI"
a.lower()

'hi'

In [151]:
# 오른쪽 공백 지우기 - rstrip

a = " hi "
a.rstrip()

' hi'

In [152]:
# 양쪽 공백 지우기 - strip

a = " hi "
a.strip()

'hi'

In [153]:
# 문자열 바꾸기 - replace

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [154]:
# 문자열 나누기 - split

a = "Life is too short"
a.split()

b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [155]:
# 문자열이 알파벳으로만 구성되어 있는지 확인하기 - isalpha
# Python3은 숫자 포함되어 있어서 false 반환
# hello world는 공백문자가 포함되어있어서 false 반환

s = "Python"
s.isalpha()

s = "Python3"
s.isalpha()

s = "Hello World"
s.isalpha()

False

In [156]:
# 문자열이 숫자로만 구성되어 있는지 확인하기 - isdigit
# "1234a"는 알파벳 a 포함되어있어 false 반환
# "12 34"는 숫자 사이에 공백이 있어 false 반환

s = "12345"
s.isdigit()

s = "1234a"
s.isdigit()

s = "12 34"
s.isdigit()

False

In [157]:
# 문자열이 특정 문자(열)로 시작하는지 확인하기 - startswith
# 지정한 문자열을 시작하면 true / 그렇지 않으면 false

s = "Life is too short"
s.startswith("Life")

s.startswith("short")

False

In [158]:
# 문자열이 특정 문자(열)로 끝나는지 확인하기 - endswith
# 지정한 문자열을 시작하면 true / 그렇지 않으면 false

s = "Life is too short"
s.endswith("short")

s.endswith("too")

False

In [159]:
# 착각하기 쉬운 문자열 함수
# 문자열은 자체의 값을 변경할 수 없는 immutable 자료형이기 때문에
# 값을 바꾸고 싶으면 대입문을 사용해야 한다
# upper뿐만 아니라 lower, join, lstrip, rstrip, strip, replace, split 함수 모두 적용됨

a = a.upper()
a

'LIFE IS TOO SHORT'