<a href="https://colab.research.google.com/github/flu-s/Python25Study/blob/main/%EC%9E%90%EB%A3%8C%ED%98%95.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [96]:
# 숫자형
# Number 타입 : 정수, 실수, 8진수, 16진수, 2진수 등을 표현한다.

a = 123
print(a)

123

In [97]:
# 실수형

a = 1.2
b = -3.45
c = 4.24E10
d = 4.24e-10

print(a)
print(b)
print(c)
print(d)

1.2
-3.45
42400000000.0
4.24e-10

In [98]:
# 8진수

a = 0x8ff
b = 0xABC

print(b)

2748

In [99]:
# 사칙연산

a = 3
b = 4

print(a+b)
print(a-b)
print(a*b)
print(a/b)

7
-1
12
0.75

In [100]:
# x의 y제곱을 나타내는 ** 연산자
# ** 연산자는 x ** y처럼 사용했을때 x의 y제곱 값을 반환한다.

a = 3
b = 4

print(a**b)

81

In [101]:
# 나눗셈 후 나머지를 반환하는 % 연산자
# 나눗셈의 나머지 값을 반환하는 연산자

7 % 3

3 % 7

3

In [102]:
# 나눗셈 후 몫을 반환하는 // 연산자

#나눗셈 후 몫을 반환하는 연산자를 사용했을 때
7//4

1

In [103]:
#복합 연산자

a =1
a = a +1
print(a)

b = 1
b -=1
print(b)

2
0

In [104]:
# 문자열
# 문자열에 작은 따옴표 포함하기

food = "Python's favorite food is perl"
food

"Python's favorite food is perl"

In [105]:
# 문자열에 큰따옴표 포함하기

say = '"Python is very easy." he says.'
# 작은 따옴표 안에 사용된 큰 따옴표는 문자열을 만드는 기호로 인식되지 않음

In [106]:
# 역슬래시를 사용해서 작은 따옴표, 큰타옴표를 문자열에 포함하기

food = 'Python\'s favorite food is perl'
say = "\Python is very easy.\" he says."

<>:4: SyntaxWarning: invalid escape sequence '\P'
<>:4: SyntaxWarning: invalid escape sequence '\P'
/tmp/ipython-input-2050608747.py:4: SyntaxWarning: invalid escape sequence '\P'
  say = "\Python is very easy.\" he says."

In [107]:
#여러 줄인 문자열을 변수에 대입하고 싶을 때
# Life is too short
# You need python

MULTILINE = " Life is too short\nYou need python"

In [108]:
# 문자열이 여러 줄인 경우 따옴표 3개를 사용하는 것이 훨씬 깔끔함
# 연속된 작은 따옴표 3개 사용하기

MULTILINE ='''
Life is too short
You need python
'''

print(MULTILINE)

# 연속된 큰따옴표 3개 사용하기


MULTILINE2 = """
Life is too short
You need python
"""

print(MULTILINE2)

Life is too short
You need python


Life is too short
You need python

In [109]:
# 이스케이프 코드란
# 프로그래밍할 때 사용할 수 있도록 미리 정의해 둔 '문자조합'
# 주로 출력물을 보기 좋게 정렬하는 용도로 사용한다

# \n = 문자열 안에서 줄을 바꿀 때 사용
# \t = 문자열 사이에 탭 간격을 줄 때 사용
# \\ = \를 그대로 표현할 때 사용
# \' = 작은 따옴표( ' )를 그대로 표현할 때 사용
# \" = 큰 따옴표( " )를 그대로 표현할 때 사용
# \r = 캐리지 리턴(줄 바꿈 문자, 커서를 현재 줄의 가장 앞으로 이동)
# \f = 폼 피드(줄 바꿈 문자, 커서를 현재 줄의 다음 줄로 이동)
# \a = 벨소리(출력할 때 PC 스피커에서 '삑'소리가 난다)
# \b = 백 스페이스
# \000 = 널 문자

In [110]:
# 문자열 연산

head = "Python"
tail = "is fun!"
head + tail

'Pythonis fun!'

In [111]:
# 문자열 곱하기

a = "python"
a * 2

'pythonpython'

In [112]:
# 문자열 곱하기 응용

print("=" * 50)
print("My Program")
print("=" * 50)

==================================================
My Program
==================================================

In [113]:
# 문자열 길이 구하기 len
# 문자열의 길이에는 공백 문자도 포함

a = "Life is too short"
len(a)

17

In [114]:
# 문자열 인덱싱
# 인덱싱 = 무엇인가를'가리킨다'라는 의미
# 문자열 안의 특정한 값을 뽑아내는 역할
#a[-1] = 문자열을 뒤에서부터 읽는다

a = "Life is too short, You need Python"
a[3]
a[12]
a[-1]

'n'

In [115]:
# 문자열 슬라이싱
# 슬라이싱 = 무엇인가를'잘라낸다'라는 의미

a = "Life is too short, You need Python"
b = a[0] + a[1] + a[2] + a[3]
b

'Life'

In [116]:
a = "Life is too short, You need Python"
a[0:4]

b = "Life is too short, You need Python"
b[5:7]

c = "Life is too short, You need Python"
c[19:]

d = "Life is too short, You need Python"
d[:17]

e = "Life is too short, You need Python"
e[:]

f = "Life is too short, You need Python"
f[19:-7]

'You need'

In [117]:
# 슬라이싱으로 문자열 나누기

a = "20251030Rainy"
date = a[:8]
weather = a[8:]

date
weather

'Rainy'

In [118]:
a = "20251030Rainy"

year = a[:4]
day = a[4:8]
weather = a[8:]

In [119]:
# 문자열 수정

a = "Pithon"
a[:1] + 'y' + a[2:]

'Python'

In [120]:
# 문자열 포매팅
# 숫자 바로 대입

"I eat %d apples." %3

'I eat 3 apples.'

In [121]:
# 문자열 바로 대입
"I eat %s apples." %"five"

'I eat five apples.'

In [122]:
# 숫자 값을 나타내는 변수로 대입

number = 3

"I eat %d apples." %number

'I eat 3 apples.'

In [123]:
# 2개 이상의 값 넣기

number = 10
day = "three"

"I ate %d apples. so I was sick for %s days"%(number, day)

'I ate 10 apples. so I was sick for three days'

In [124]:
# 문자열 포맷 코드
# %s = 문자열 (String)
# %c = 문자 1개 (Character)
# %d = 정수 (Integer)
# %f = 부동소수(floating-point)
# %o = 8진수
# %x = 16진수
# %% = Literal % (문자%자체)

In [125]:
"I have  %s apples" %3

"rate is %s" %3.234

'rate is 3.234'

In [126]:
# 포매팅 연산자 %d와 %를 같이 쓸 때는 %%를 쓴다

"Error is%d%%" %98

'Error is98%'

In [127]:
# 포맷 코드와 숫자 함께 사용하기
# 정렬과 공백

"%10s" %"hi"

'        hi'

In [128]:
"%-10sjane." %'hi'

'hi        jane.'

In [129]:
# 소수점 표현하기
# ' . '은 소수점 포인트,  그 뒤의 숫자 4는 소수점 뒤에 나올 숫자의 개수

"%0.4f" %3.42134234

'3.4213'

In [130]:
# format 함수를 사용한 포매팅

"I eat {0} apples".format(3)

'I eat 3 apples'

In [131]:
# 문자열에 바로 대입하기

"I eat {0} apples".format("five")

'I eat five apples'

In [132]:
# 숫자 값을 가진 변수로 대입하기

number = 3

"I eat {0} apples".format(number)

'I eat 3 apples'

In [133]:
# 2개 이상의 값 넣기

number = 10
day = "three"

"I ate {0} apples. so I was sick for {1} days".format(number, day)

'I ate 10 apples. so I was sick for three days'

In [134]:
# 이름으로 넣기

"I ate {number} apples. so I was sick for {day} days.".format(number=10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [135]:
# 인덱스와 이름 혼용

"I ate {0} apples. so I was sick for {day} days.".format(10, day=3)

'I ate 10 apples. so I was sick for 3 days.'

In [136]:
# 왼쪽 정렬

"{0:<10}".format("hi")

'hi        '

In [137]:
# 오른쪽 정렬

"{0:>10}".format("hi")

'        hi'

In [138]:
# 가운데 정렬

"{0:^10}".format("hi")

'    hi    '

In [139]:
# 공백 채우기

"{0:=^10}".format("hi")
"{0:!^10}".format("hi")

'!!!!hi!!!!'

In [140]:
# 소수점 표현하기

y = 3.42134234
"{0:0.4f}".format(y)

'3.4213'

In [141]:
# { 또는 } 문자 표현하기

"{{and}}".format()

'{and}'

In [142]:
# f 문자열 포매팅
# f접두사를 붙이면 f 문자열 포매팅 기능을 사용할 수 있다

name = '홍길동'
age = 30

f'나의 이름은{name}입니다. 나이는 {age}입니다'

'나의 이름은홍길동입니다. 나이는 30입니다'

In [143]:
d = {'name' : '홍길동', 'age' : '30'}
f'나의 이름은 {d["name"]}입니다. 나이는 {d["age"]}입니다'

'나의 이름은 홍길동입니다. 나이는 30입니다'

In [144]:
# f문자열을 사용하여 금액에 콤마(,) 삽입하기

f"난 {1500000:,}원이 필요해"

'난 1,500,000원이 필요해'

In [145]:
# 문자 개수 세기 - count

a = "hobby"
a.count('b')

2

In [146]:
# 위치 알려주기 1 -find
# 문자나 문자열이 존재하지 않으면 -1을 반환함

a = "Python is the best choice"
a.find('b')

14

In [147]:
# 위치 알려주기 2 - index
# 문자나 문자열이 존재하지 않으면 오류 발생함

a = "Life is too short"
a.index('t')

8

In [148]:
# 문자열 삽입 - join

",".join('abcd')

'a,b,c,d'

In [149]:
# 소문자를 대문자로 바꾸기 - upper

a = "hi"
a.upper()

'HI'

In [150]:
# 대문자를 소문자로 바꾸기 - lower

a = "HI"
a.lower()

'hi'

In [151]:
# 오른쪽 공백 지우기 - rstrip

a = " hi "
a.rstrip()

' hi'

In [152]:
# 양쪽 공백 지우기 - strip

a = " hi "
a.strip()

'hi'

In [153]:
# 문자열 바꾸기 - replace

a = "Life is too short"
a.replace("Life", "Your leg")

'Your leg is too short'

In [154]:
# 문자열 나누기 - split

a = "Life is too short"
a.split()

b = "a:b:c:d"
b.split(':')

['a', 'b', 'c', 'd']

In [155]:
# 문자열이 알파벳으로만 구성되어 있는지 확인하기 - isalpha
# Python3은 숫자 포함되어 있어서 false 반환
# hello world는 공백문자가 포함되어있어서 false 반환

s = "Python"
s.isalpha()

s = "Python3"
s.isalpha()

s = "Hello World"
s.isalpha()

False

In [156]:
# 문자열이 숫자로만 구성되어 있는지 확인하기 - isdigit
# "1234a"는 알파벳 a 포함되어있어 false 반환
# "12 34"는 숫자 사이에 공백이 있어 false 반환

s = "12345"
s.isdigit()

s = "1234a"
s.isdigit()

s = "12 34"
s.isdigit()

False

In [157]:
# 문자열이 특정 문자(열)로 시작하는지 확인하기 - startswith
# 지정한 문자열을 시작하면 true / 그렇지 않으면 false

s = "Life is too short"
s.startswith("Life")

s.startswith("short")

False

In [158]:
# 문자열이 특정 문자(열)로 끝나는지 확인하기 - endswith
# 지정한 문자열을 시작하면 true / 그렇지 않으면 false

s = "Life is too short"
s.endswith("short")

s.endswith("too")

False

In [159]:
# 착각하기 쉬운 문자열 함수
# 문자열은 자체의 값을 변경할 수 없는 immutable 자료형이기 때문에
# 값을 바꾸고 싶으면 대입문을 사용해야 한다
# upper뿐만 아니라 lower, join, lstrip, rstrip, strip, replace, split 함수 모두 적용됨

a = a.upper()
a

'LIFE IS TOO SHORT'

In [ ]:
# 리스트를 만들 때는 대괄호 []로 감싸주고 각 요솟값은 쉼표로 구훕낳ㄴ다
# 비어있는 리스트는  a = list()로 생성할 수 있다

a = []
b = [1, 2, 3]
c = ['Life', 'is', 'too', 'short']
d = [1, 2, 'Life', 'is']
e = [1, 2, ['Life', 'is']]

In [ ]:
# 리스트 인덱싱
# a[-1]은 리스트 a의 마지막 요솟값

a = [1,2,3]

a[0] + a[2]

4

In [ ]:
# 리스트 안에 리스트 포함

a = [1, 2, 3, ['a', 'b', 'c']]

a[-1]
a[-1][0]

'a'

In [ ]:
# 삼중 리스트 인덱싱
# Life 문자열만 끄집어 내기

a = [1, 2, ['a', 'b', ['Life', 'is']]]

a[2][2][0]

'Life'

In [ ]:
# 리스트 슬라이싱

a = [1, 2, 3, 4, 5]

a[0:2]

[1, 2]

In [ ]:
# 중첩된 리스트에서 슬라이싱

a = [1, 2, 3, ['a', 'b', 'c'], 4, 5]

a[2:5]
a[3][:2]

['a', 'b']

In [ ]:
# 리스트 연산하기

# 리스트 더하기

a = [1,2,3]
b = [4,5,6]

a+b

[1, 2, 3, 4, 5, 6]

In [ ]:
# 리스트 반복하기

a = [1,2,3]
a * 3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
# 리스트 길이 구하기

a = [1, 2, 3]
len(a)

3

In [ ]:
# 초보자가 범하기 쉬운 리스트 연산 오류
# 정수와 문자열은 서로 더할 수 없다
# 숫자와 문자열을 더해서 '3hi'를 만들고 싶다면 숫자를 문자 '3'으로 바꿔야 한다
# str은 정수나 실수를 문자열로 바꿔주는 파이썬의 내장 함수

a = [1,2,3]
str(a[2]) + "hi"

'3hi'

In [ ]:
# 리스트 값 수정

a = [1, 2, 3]
a[2] = 4
a

[1, 2, 4]

In [ ]:
# 리스트 요소 삭제하기 - del
# del a[x]는 x번째 요솟값을 삭제한다
# del 객체 (객체는 파이썬에서 사용되는 모든 자료형을 말함)

a = [1, 2, 3]
del a[1]
a

a = [1, 2, 3, 4, 5]
del a [2:]
a

[1, 2]

In [ ]:
# 리스트에 요소 추가하기 - append
# append의 사전적 의미 = 덧붙이다, 첨부하다
# append(x) = 리스트의 맨 마지막에 x를 추가하는 함수
# 리스트 안에는 어떤 자료형도 추가 가능함

a = [1, 2, 3]
a.append(4)
a

[1, 2, 3, 4]

In [ ]:
# 리스트에 다시 리스트 추가

a.append([5, 6])
a

[1, 2, 3, 4, [5, 6]]

In [ ]:
# 리스트 정렬 - sort
# sort 함수는 리스트의 요소를 순서대로 정렬해준다

a = [1, 4, 3, 2]
a.sort()
a

[1, 2, 3, 4]

In [ ]:
# 문자도 알파벳 순서대로 정렬할 수 있다

a = ['a', 'c', 'b']
a.sort()
a

['a', 'b', 'c']

In [ ]:
# 리스트 뒤집기 - reverse
# 리스트를 역순으로 뒤집어 줌다
# 현재의 리스트를 그대로 거꾸로 뒤집는다


a = ['a', 'c', 'b']
a.reverse()
a

['b', 'c', 'a']

In [ ]:
# 인덱스 반환 - index
# index(x) 함수는 리스트에 x 값이 있으면 x의 인덱스 값(위칫값)을 반환한다

a = [1, 2, 3]
a.index(3)
a.index(1)

0

In [ ]:
# 리스트에 요소 삽입 - insert
# insert(a, b)는 리스트의 a번째 위치에 b를 삽입하는 함수

# 첫번째 요소인 a[0] 위치에 4를 삽입하라는 뜻

a = [1, 2, 3]
a.insert(0, 4)
a

[4, 1, 2, 3]

In [ ]:
# 리스트 요소 제거 - remove

# a가 3이라는 값을 2개 갖고 있을 경우, 첫번째 3만 제거된다
a = [1, 2, 3, 1, 2, 3]
a.remove(3)
a

[1, 2, 1, 2, 3]

In [ ]:
# 리스트 요소 끄집어 내기 - pop
# pop()은 리스트의 맨 마지막 요소를 반환하고 그 요소는 삭제한다

a = [1, 2, 3]
a.pop()
a

[1, 2]

In [ ]:
# pop(x)는 리스트의 x번째 요소를 반환하고 그 요소는 삭제한다

a = [1, 2, 3]
a.pop(1)
a

[1, 3]

In [ ]:
# 리스트에 포함된 요소 x의 개수 세기 - count
# count(x)는 리스트 안에 x가 몇 개 있는지 조사하여 그 개수를 반환하는 함수

a = [1, 2, 3, 1]
a.count(1)

2

In [ ]:
# 리스트 확장 - extend
# extend(x)에서 x에는 리스트만 올 수 있으며 원래의 a 리스트에 x 리스트를 더하게 된다

# a.extend([4, 5])는 a += [4, 5]와 동일하다.
a = [1, 2, 3]
a.extend([4, 5])
a

b = [6, 7]
a.extend(b)
a

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
# 듀플 자료형

# 리스트와 차이점
# 리스트는 [], 튜플은 ()
# 리스트는 요솟값의 생성, 삭제, 수정이 가능/  튜플은 요솟값을 바꿀 수 없다
# 수시로 그 값을 변화시켜야할 경우라면 리스트
# 프로그램이 실행되는 동안 요솟값이 항상 변하지 않기를 바란다거나 값이 바뀔까 걱정하고 싶지 않다면 주저하지 말고 튜플
# 튜플은 요솟값을 변경할수 없기 때문에 sort, insert, remove, pop과 같은 내장 함수가 없다

t1 = ()
t2 = (1,)
t3 = (1, 2, 3)
t4 = 1, 2, 3
t5 = ('a', 'b', ('ab', 'cd'))

# t2 = (1,)처럼 단지 1개의 요소만을 가질 때는 요소 뒤에 쉼표(,)를 반드시 붙여야 한다
# t4 = 1, 2, 3처럼 소괄호(())를 생략해도 된다

In [ ]:
# 튜플 요솟값 삭제, 수정 불가

# 튜플 인덱싱

t1 = (1, 2, 'a', 'b')
t1[0]

1

In [ ]:
# 튜플 슬라이싱

t1 = (1, 2, 'a', 'b')
t1[1:]

(2, 'a', 'b')

In [ ]:
# 튜플 더하기

t1 = (1, 2, 'a', 'b')
t2 = (3, 4)
t3 = t1 + t2
t3

(1, 2, 'a', 'b', 3, 4)

In [ ]:
# 튜플 곱하기

t2 = (3, 4)
t3 = t2 * 3
t3

(3, 4, 3, 4, 3, 4)

In [ ]:
# 튜플 길이 구하기

t1 = (1, 2, 'a', 'b')
len(t1)

4

In [ ]:
# 딕셔너리 자료형 (java의 map과 같은 개념)

#‘연관 배열(associative array)’또는 ‘해시(hash)’라고도 한다
# Key와 Value를 한 쌍으로 가지는 자료형
# key = "baseball"이라면 value = "야구"
# 순차적으로(sequential) 해당 요솟값을 구하지 않고 Key를 통해 Value를 얻는다
# 각각의 요소는 Key: Value 형태로 이루어져 있고 쉼표(,)로 구분되어 있다

# 딕셔너리 쌍 추가하기

a = {1: 'a'}
a[2] = 'b'
a

a['name'] = 'pey'
a

a[3] = [1, 2, 3]
a

# 딕셔너리 요소 삭제하기

del a[1]
a

{2: 'b', 'name': 'pey', 3: [1, 2, 3]}

In [ ]:
# 딕셔너리에서 Key를 사용해 Value 얻기
# 어떤 Key의 Value를 얻기 위해서는 '딕셔너리_변수_이름[Key]'를 사용해야 한다

grade = {'pey': 10, 'julliet': 99}
grade['pey']
grade['julliet']

99

In [ ]:
# a[1]이 의미하는 것은 리스트나 튜플의 a[1]과는 전혀 다르다
# 딕셔너리 변수에서 [] 안의 숫자 1은 두 번째 요소를 나타내는 것이 아니라 Key에 해당하는 1을 나타낸다
# a[1]은 딕셔너리 {1: 'a', 2: 'b'}에서 Key가 1인 것의 Value인 'a'를 반환한다

a = {1:'a', 2:'b'}
a[1]

'a'

In [ ]:
# 딕셔너리 a는 a[Key]로 Key에 해당하는 Value를 얻는다

a = {'a': 1, 'b': 2}
a['a']
a['b']

dic = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
dic['name']
dic['phone']
dic['birth']

'1118'

In [ ]:
# 딕셔너리 만들 때 주의할 사항
# Key는 고유한 값이므로 중복되는 Key 값을 설정해 놓으면 하나를 제외한 나머지 것들이 모두 무시된다
# Key에 리스트는 쓸 수 없다
# Value에는 변하는 값이든, 변하지 않는 값이든 아무 값이나 넣을 수 있다


a = {1:'a', 1:'b'}
a

{1: 'b'}

In [ ]:
# 딕셔너리 관련 함수

# Key 리스트 만들기 - keys

# 반환값으로 리스트가 필요한 경우에는 list(a.keys())를 사용하면 된다
# dict_keys, dict_values, dict_items 객체는 리스트로 변환하지 않더라도 기본적인 반복 구문(예: for 문)에서 사용할 수 있다


a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.keys()

dict_keys(['name', 'phone', 'birth'])

In [ ]:
# dict_keys 객체

# 리스트를 사용하는 것과 별 차이는 없다
# 리스트 고유의 append, insert, pop, remove, sort 함수는 수행할 수 없다

for k in a.keys():
  print(k)

# dict_keys 객체를 리스트로 변환할 때

list(a.keys())

name
phone
birth

['name', 'phone', 'birth']

In [ ]:
# Key, Value 쌍 얻기 - items

a.items()

dict_items([('name', 'pey'), ('phone', '010-9999-1234'), ('birth', '1118')])

In [ ]:
# Key: Value 쌍 모두 지우기 - clear
# clear 함수는 딕셔너리 안의 모든 요소를 삭제한다
# 빈 리스트 [], 빈 튜플을 ()로 표현하는 것과 마찬가지로 빈 딕셔너리도 {}로 표현한다

a.clear()
a

{}

In [ ]:
# Key로 Value 얻기 - get

a = {'name': 'pey', 'phone': '010-9999-1234', 'birth': '1118'}
a.get('name')
a.get('phone')

'010-9999-1234'

In [ ]:
# None은 '거짓'이라는 뜻

a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
a.get('nokey')

# 딕셔너리 안에 찾으려는 Key가 없을 경우, 미리 정해 둔 디폴트 값을 대신 가져오게 하고 싶을 때는 get(x, '디폴트 값')을 사용

a.get('nokey', '정보없음')

'정보없음'

In [ ]:
# 해당 Key가 딕셔너리 안에 있는지 조사하기 - in

a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
'name' in a
'email' in a

False

In [ ]:
# Key로 Value 얻기 - pop
# pop(x) 함수는 딕셔너리에서 Key가 x인 항목을 삭제한 후 그 Value를 반환
# get 함수와 달리 pop은 해당 항목을 딕셔너리에서 삭제한다는 차이가 있다
# 존재하지 않는 Key에 대해서는 디폴트 값을 지정할 수 있다.

a = {'name':'pey', 'phone':'010-9999-1234', 'birth': '1118'}
phone = a.pop('phone')
phone
a

email = a.pop('email', '정보없음')
email

'정보없음'

In [ ]:
# 집합 자료형

# set 키워드를 사용
# set()의 괄호 안에 리스트를 입력

s1 = set([1, 2, 3])
s1

# set()의 괄호 안에 문자열을 입력
s2 = set("Hello")
s2

# set()의 괄호 안에 중괄호({})를 사용
s3 = {1, 2, 3}
s3

s4 = {'a', 'b', 'c'}
s4

# 비어 있는 집합 자료형은 s = set()
# s = {}로 만들면 딕셔너리가 된다

{'a', 'b', 'c'}

In [ ]:
# 집합 자료형의 특징

# 중복을 허용하지 않는다
# 순서가 없다(Unordered)

# 집합은 중복을 허용하지 않는 특징 때문에 데이터의 중복을 제거하기 위한 필터로 종종 사용

# 집합 자료형은 순서가 없기(unordered) 때문에 인덱싱을 통해 요솟값을 얻을 수 없다
#집합 자료형에 저장된 값을 인덱싱으로 접근하려면 다음과 같이 리스트나 튜플로 변환한 후에 해야 한다

s1 = set([1, 2, 3])
l1 = list(s1)
l1
l1[0]

t1 = tuple(s1)
t1
t1[0]

1

In [ ]:
# 교집합 구하기 - &, intersection 함수

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

s1 & s2

# intersection 함수
s1.intersection(s2)

{4, 5, 6}

In [ ]:
# 합집합 구하기 - |, union 함수

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

s1 | s2

# union 함수
s1.union(s2)

{1, 2, 3, 4, 5, 6, 7, 8, 9}

In [ ]:
# 차집합 구하기 - -(빼기), difference 함수

s1 = set([1, 2, 3, 4, 5, 6])
s2 = set([4, 5, 6, 7, 8, 9])

s1 - s2
s2 - s1

# difference 함수
s1.difference(s2)
s2.difference(s1)

{7, 8, 9}

In [ ]:
# 집합 자료형 관련 함수
# 값 1개 추가하기 - add

s1 = set([1, 2, 3])
s1.add(4)
s1

{1, 2, 3, 4}

In [ ]:
# 값 여러 개 추가하기 - update

s1 = set([1, 2, 3])
s1.update([4, 5, 6])
s1

{1, 2, 3, 4, 5, 6}

In [ ]:
# 특정 값 제거하기 - remove

s1 = set([1, 2, 3])
s1.remove(2)
s1

{1, 3}

In [ ]:
# 특정 값 제거하기 - discard
# remove와 비슷하지만 존재하지 않는 값을 제거하려 할 때 오류가 발생하지 않는다

s1 = set([1, 2, 3])
s1.discard(2)
s1
s1.discard(4)  # 없는 값이어도 오류가 발생하지 않음
s1

{1, 3}

In [ ]:
# 모든 값 제거하기 - clear

s1 = set([1, 2, 3])
s1.clear()
s1

set()

In [ ]:
# 불 자료형
# 불(bool) 자료형이란 참(True)과 거짓(False)을 나타내는 자료형
# True: 참 / False: 거짓
# True나 False는 파이썬의 예약어
# true, false와 같이 작성하면 안 되고 첫 문자를 항상 대문자로 작성

a = True
b = False

# type(x)는 x의 자료형을 확인하는 파이썬의 내장 함수

type(a)
type(b)

bool

In [ ]:
# 불 자료형은 조건문의 리턴값으로도 사용된다

1 == 1
2 > 1
2 < 1

False

In [ ]:
# 자료형의 참과 거짓


# 값	참 or 거짓
# "python"	참
# ""	거짓
# [1, 2, 3]	참
# []	거짓
# (1, 2, 3)	참
# ()	거짓
# {'a': 1}	참
# {}	거짓
# 1	참
# 0	거짓
# None	거짓

# 문자열, 리스트, 튜플, 딕셔너리 등의 값이 비어 있으면("", [], (), {}) 거짓
# 숫자에서는 그 값이 0일 때 거짓

a = [1, 2, 3, 4]
while a:
     print(a.pop())

# while 조건문:
#    수행할_문장
# a가 참인 경우, a.pop()를 계속 실행하여 출력하라
# a.pop() 함수는 리스트 a의 마지막 요소를 끄집어 내는 함수이므로 리스트 안에 요소가 존재하는 한(a가 참인 동안) 마지막 요소를 계속 끄집어 낼 것이다
# 더 이상 끄집어 낼 것이 없으면 a가 빈 리스트([])가 되어 거짓
# while 문에서 조건문이 거짓이 되므로 while 문을 빠져나가게 된다

4
3
2
1

In [ ]:
# if문

if []:
     print("참")
else:
     print("거짓")

if [1, 2, 3]:
     print("참")
else:
     print("거짓")
# 만약 [1, 2, 3]이 참이면 "참"이라는 문자열을 출력하고, 그렇지 않으면 "거짓"이라는 문자열을 출력하라

거짓
참

In [ ]:
# 불 연산

# 'python' 문자열은 비어 있지 않으므로 bool 연산의 결과로 불 자료형인 True를 반환한다
bool('python')

# '' 문자열은 비어 있으므로 bool 연산의 결과로 불 자료형인 False를 반환한다
bool('')


bool([1, 2, 3])

bool([])

bool(0)

bool(3)

True

In [ ]:
# 논리 연산자

# 불 자료형에서는 and, or, not과 같은 논리 연산자를 사용할 수 있다

# and 연산자

# and 연산자는 양쪽 조건이 모두 참일 때만 True를 반환한다

True and True

True and False

False and True

False and False

False

In [ ]:
# or 연산자

# or 연산자는 양쪽 조건 중 하나라도 참이면 True를 반환한다

True or True

True or False

False or True

False or False

False

In [ ]:
# not 연산자

# not 연산자는 조건의 참/거짓을 뒤바꾼다

not True

not False

not 1

not 0

True

In [ ]:
# 실제 활용 예제

x = 5
y = 10
x > 0 and y > 0

x > 10 or y > 5

not (x > y)

True

In [ ]:
# 변수

a = 1
b = "python"
c = [1, 2, 3]

# 변수_이름 = 변수에_저장할_값

# 변수명 규칙
# 1. 영문자, 숫자, 언더스코어(_)만 사용
# 2. 숫자로 시작할 수 없다
# 3. 예약어는 사용할 수 없다
# 4. 대소문자를 구분한다

# 올바른 변수명 예시

user_name = "gildong"
userName = "gildong"  # 카멜 케이스
_private = "비공개"
count1 = 10

# 잘못된 변수명 예시
# 1name = "홍길동"    # 숫자로 시작 (오류)
# user-name = "홍길동"  # 하이픈 사용 (오류)
# if = 10             # 예약어 사용 (오류)

In [ ]:
# 파이썬 예약어
# 변수명으로 사용할 수 없다

# False
# None
# True
# and
# as
# assert
# break
# class
# continue
# def
# del
# elif
# else
# except
# finally
# for
# from
# global
# if
# import
# in
# is
# lambda
# nonlocal
# not
# or
# pass
# raise
# return
# try
# while
# with
# yield

# 의미가 명확한 이름을 사용한다
# snake_case (단어 사이에 언더스코어)를 권장한다
# 너무 짧거나 긴 이름은 피한다

# 좋은 예
student_name = "김철수"
total_score = 95
user_age = 20

# 피해야 할 예
a = "김철수"  # 의미 불명확
studentNameFromKorea = "김철수"  # 너무 긴 이름

In [ ]:
# 변수
# 파이썬에서 사용하는 변수는 객체를 가리키는 것

# 객체
# 자료형의 데이터(값)와 같은 것을 의미하는 말

a = [1, 2, 3]
# [1, 2, 3] 값을 가지는 리스트 데이터(객체)가 자동으로 메모리에 생성
# 변수 a는 [1, 2, 3] 리스트가 저장된 메모리의 주소를 가리키게 된다
# 메모리 = 컴퓨터가 프로그램에서 사용하는 데이터를 기억하는 공간

a = [1, 2, 3]
id(a)
# id는 변수가 가리키고 있는 객체의 주소 값을 반환하는 파이썬의 내장 함수

134355872305344

In [ ]:
# 리스트를 복사하고자 할 때

a = [1, 2, 3]
b = a

a is b

a[1] = 4
a
b

[1, 4, 3]

In [ ]:
# [:] 이용하기

a = [1, 2, 3]
b = a[:]
a[1] = 4
a
b

[1, 2, 3]

In [ ]:
# copy 모듈 이용하기

from copy import copy
a = [1, 2, 3]
b = copy(a)

# b = copy(a)는 b = a[:]과 동일

b is a
# b와 a가 가리키는 객체는 서로 다르다

# copy 함수 사용하기
# 리스트 자료형의 자체 함수인 copy 함수를 사용해도 copy 모듈을 사용하는 것과 동일

a = [1, 2, 3]
b = a.copy()
b is a

False

In [ ]:
# 변수를 만드는 여러 가지 방법

# 튜플로 a, b에 값을 대입
# 튜플은 괄호 생략 가능
a, b = ('python', 'life')

# 다음 예문과 동일
(a, b) = 'python', 'life'

# 리스트로 변수
[a, b] = ['python', 'life']

# 여러 개의 변수에 같은 값을 대입 가능
a = b = 'python'

# 두 변수의 값을 매우 간단하게 바꿀 수 있다
a = 3
b = 5
a, b = b, a
a
b

# a에 값 3, b에는 값 5가 대입되어 있었지만 a, b = b, a 문장을 수행한 후에는 그 값이 서로 바뀌었다

3